parameters:
	treatPhpDocTypesAsCertain: false
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	level: max
	paths:
		- src
	parallel:
		jobSize: 20
		maximumNumberOfProcesses: 32
		minimumNumberOfJobsPerProcess: 2
	ignoreErrors:
		- '#Call to an undefined method Nette\\Application\\UI\\Template\:\:setParameters\(\)\.#'
