{ifset $totalPages}
	{if $totalPages > 1}
		{* počet zobrazených stránek na začátku a konci *}
		{var $extremePagesLimit = 1}
		{* počet zobrazených stránek kolem aktuální stránky *}
		{var $nearbyPagesLimit = 1}
		{* zobrazení tlačítka další a předchozí u první či poslední stránky *}
		{var $showAlwaysFirstAndLast = false}

		{*<div class="text-center">Zobrazeno {$totalReturned} z {$total} produktů</div>*}
		<nav aria-label="Pagination" class="text-center">
			<ul class="pagination">
				{if $page > 1}
					<li>
						<a href="{plink this page => $page-1}{if !empty($filterQueryString)}?{$filterQueryString}{/if}"
						   class="page-link" title="{_'common.previous'}">&larr;</a>
					</li>

					{for $i = 1; $i <= $extremePagesLimit; $i++}
						{if $i < $page - $nearbyPagesLimit}
							<li>
								<a href="{plink this page => $i}{if !empty($filterQueryString)}?{$filterQueryString}{/if}"
								   class="page-link">{$i}</a>
							</li>
						{/if}
					{/for}

					{if $extremePagesLimit + 1 < $page - $nearbyPagesLimit}
						<li class="disabled">
							<a class="page-link">...</a>
						</li>
					{/if}

					{for $i = $page-$nearbyPagesLimit; $i <= $page-1; $i++}
						{if $i > 0}
							<li>
								<a href="{plink this page => $i}{if !empty($filterQueryString)}?{$filterQueryString}{/if}"
								   class="page-link">{$i}</a>
							</li>
						{/if}
					{/for}
				{elseif $showAlwaysFirstAndLast}
					<li class="disabled">
						<a class="page-link" title="{_'common.previous'}">&larr;</a>
					</li>
				{/if}

				<li class="active">
					<a href="{plink this page => $page}{if !empty($filterQueryString)}?{$filterQueryString}{/if}"
					   class="page-link">{$page}</a>
				</li>

				{if $page < $totalPages}
					{for $i = $page+1; $i <= $page + $nearbyPagesLimit; $i++}
						{if $i <= $totalPages}
							<li>
								<a href="{plink this page => $i}{if !empty($filterQueryString)}?{$filterQueryString}{/if}"
								   class="page-link">{$i}</a>
							</li>
						{/if}
					{/for}

					{if ($totalPages - $extremePagesLimit) > ($page + $nearbyPagesLimit)}
						<li class="disabled">
							<a class="page-link">...</a>
						</li>
					{/if}

					{for $i = $totalPages - $extremePagesLimit+1; $i <= $totalPages; $i++}
						{if $i > $page + $nearbyPagesLimit}
							<li>
								<a href="{plink this page => $i}{if !empty($filterQueryString)}?{$filterQueryString}{/if}"
								   class="page-link">{$i}</a>
							</li>
						{/if}
					{/for}

					<li>
						<a href="{plink this page => $page+1}{if !empty($filterQueryString)}?{$filterQueryString}{/if}"
						   class="page-link" title="{_'common.next'}">&rarr;</a>
					</li>
				{elseif $showAlwaysFirstAndLast}
					<li class="disabled">
						<a class="page-link" title="{_'common.next'}">&rarr;</a>
					</li>
				{/if}
			</ul>
		</nav>
	{/if}
{/ifset}
